<div class="container">
<div class="row">
	<div class="col-md-3">
		<img ng-src="{{course.pic}}" width="200px" />
	</div>
	<div class="col-md-4">
		<div>
			<a href='' ng-click="showCourseDetails(course)" class="h4">{{course.name | uppercase}}</a>
		</div>
		<div>
			<p>
				
				<span>{{course.description}}</span>
				
				
			</p>
		</div>
		<p style="color:#ddcc64;">Average Rating:{{course.avg_rating | number:2}}</p>
		<div class="progress">
		<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="10" style="width: {{course.avg_rating*10}}%">
		</div>
		</div>
	</div>
	<div class="col-md-1">
		<div ng-bind="course.price | currency  ">{{course.name}}</div>
	</div>
	<div class="col-md-1">
		<a ng-href='#/reviews/{{course.objectId}}' class="btn btn-success">Add Review</a>
	</div>
	<div class="col-md-2 col-md-offset-1 btn btn-primary">
		Average rating
		<div ng-bind="avg | number:2">
		</div>
	</div>

</div>
<h1>Reviews</h1>
<div class="row well" style="background:#222;color:#000;margin-bottom:0px;border-radius:0px;">
	<div class="col-md-2 col-md-offset-1">Username</div>
	<div class="col-md-3 col-md-offset-1">Review</div>
	<div class="col-md-1 col-md-offset-1">Rating</div>
	<div class="col-md-1">Likes</div>
</div>
<div class="row well" ng-repeat="review in reviews | orderBy:-review.createdAt">
	<div class="col-md-2 col-md-offset-1" ng-bind="review.name"></div>
	<div class="col-md-3 col-md-offset-1" ng-bind="review.myreview"></div>
	<div class="col-md-1 col-md-offset-1" ng-bind="review.rating"></div>
	<div class="col-md-1" ng-bind="review.likes"></div>
	<div class="col-md-2">
    <a ng-click="review.likes=review.likes+1;update(review)" class="btn btn-danger">Like</a>
	<!--<a href="#" class="col-md-1 col-md-offset-1 btn btn-danger" ng-click="increcount(review)">Useful</a>-->
</div>
</div>
</div>