<div class="container">
  <div class="row well" ng-repeat="course in courses | orderBy:orderTerm | filter:searchTerm">
    <div class="col-md-3">
      <img class="col-md-12 img-responsive" ng-src="{{course.pic}}"/>
    </div>
    <div class="col-md-6">
    <a ng-href='#/details/{{course.id}}'><h2 ng-bind="course.name"></h2></a>

      <p style="float:right;">

        
        <span ng-show="!showCompleteDescription">{{course.description | limitTo : 300}}</span>
        <span ng-show="showCompleteDescription">{{course.description}}</span>
        <span ng-show="course.description.length >300 && !showCompleteDescription">...</span>
        <a href='' ng-show="course.description.length >
          300 && !showCompleteDescription" ng-click="showCompleteDescription = true" >more
        </a>

      </p>
    </div>
    <div class="col-md-3">
      Price:
      <span ng-bind="course.price | currency"></span>
    </div>
  </div>
</div>