<div class="container">
  <div class="row well myrow" ng-repeat="course in courses | orderBy:sortCond:rev | filter:searchTerm">
    <div class="col-md-3">
      <img class="col-md-12 img-responsive" ng-src="{{course.pic}}"/>
    </div>
    <div class="col-md-6">
    <a ng-href='#/details/{{course.objectId}}'><h2 ng-bind="course.name"></h2></a>

      <p style="float:right;">

        
        <span ng-show="!showCompleteDescription">{{course.description | limitTo : 300}}</span>
        <span ng-show="showCompleteDescription" style="border-right:2px dotted #fff;">{{course.description}}</span>
        <span ng-show="course.description.length >300 && !showCompleteDescription">...</span>
        <a href='' ng-show="course.description.length >
          300 && !showCompleteDescription" ng-click="showCompleteDescription = true" >more
        </a>

      </p>
    </div>
    <!--div class="col-md-3"-->
    <div>
      Price:
      <span ng-bind="course.price | currency"></span>
    </div>
    <!--div class="col-md-3">
    Average Rating:{{course.avg_rating | number:2}}
    <div class="myprogress progress">
<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="10" style="width: {{course.avg_rating*10}}%">
</div>
</div>
</div-->
<progress-preview preview-content="description"></progress-preview>
<!--
    <div class="col-md-2 btn btn-primary">
    Average rating
    <div ng-bind="course.avg_rating | number:2">
    </div>
  </div>
  </div>
  -->
</div>
</div>
